figure {
    padding: 0;
    margin: 0;
    width: 300px;
    height: 100px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;

}

img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    scale: 1;

}